<nav class="navbar navbar-default">

  <ul class="nav navbar-nav navbar-left">

    <li><a href="#"><img src="../../assets/Logo-2.png"></a></li>


  </ul>



      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/characters">Courses</a></li>
        <li routerLinkActive="active"><a routerLink="/wishlist">MyWishList</a></li>
        <li routerLinkActive="active"><a routerLink="/cart"><img src="../../assets/shopping-cart.svg"></a></li>
        <li routerLinkActive="active"><a routerLink="/profile"><img src="../../assets/noun_profile_2068277.svg"></a></li>

      </ul>

</nav>
