#banner{
  background-color: black;
  margin-left: 125px;
  margin-right: 125px;
  height: 100px;
  color: honeydew;
  .p{
    margin: 10px;


        };
  #image{

    margin-left: 308px;
    margin-top:-40px;
  }




}
